h1
{
	font-size: 18px;
	font-weight: bold;
}
label {
	font-size: 10px;
	font-weight: normal;
	color : #c4c6c7 ; 
}
select {
	height: 38px;
	width: 195px;	
	margin-right: 10px;
}
textarea {
	width : 100%;
	height: 53px;
	border-top: 2px solid  #b2b2b2;
	border-radius: 3px;
	resize: none;
}
ul{
	list-style-type: none;
	padding: 0;
}

.textarea__simple
{
	background-color: #E5E5E7;
}
.input__simple
{
	background-color: #f2f2f2;
	height: 38px;
	width: 195px;
	border-left: none;
	border-radius: 3px;
	font-size: 20px; 
	font-family: Tahoma;
}

.line  {
	border-top: 1px dashed #c4c6c7; 
	margin-top: 20px;
	margin-bottom: 20px;
}
.label__rubl
{
	margin-left: 10px;
	font-size: 28px;

}

.SumGroup{
	display:flex;
	justify-content:flex-start;
	align-items: flex-end;
	flex-wrap:wrap;
}
.SourseGroup{
	display:flex;
	justify-content: flex-start;    
}
.buttonGroup__notactive {
	width: 270px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 2px;
	font-weight: bold;
	color : #b2b2b2;
	border : 1px solid #b2b2b2;
	pointer-events:none;
}

.buttonGroup__active {
	width: 270px;
	height: 30px;
	background-color: #f4f4f4;
	border-radius: 2px;
	font-weight: bold;
	color : #000000;
	border : 1px solid #b2b2b2;
}
.buttonGroup__active {
	width: 270px;
	height: 30px;
	background-color: #f4f4f4;
	border-radius: 2px;
	font-weight: bold;
	color : #2222222;
	border : 1px solid #b4b4b4;
}

.leftside
{
	text-align: right;
}
.button_trash
{
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
}